/*
Copyright 2022 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
.spectrum--light {
  --spectrum-global-color-gray-50: #ffffff;
  --spectrum-global-color-gray-75: #f9f9f9;
  --spectrum-global-color-gray-100: #f1f1f1;
  --spectrum-global-color-gray-200: #e6e6e6;
  --spectrum-global-color-gray-300: #d5d5d5;
  --spectrum-global-color-gray-400: #b1b1b1;
  --spectrum-global-color-gray-500: #909090;
  --spectrum-global-color-gray-600: #6d6d6d;
  --spectrum-global-color-gray-700: #464646;
  --spectrum-global-color-gray-800: #222222;
  --spectrum-global-color-gray-900: #000000;
}

.spectrum--dark {
  --spectrum-global-color-gray-50: #101010;
  --spectrum-global-color-gray-75: #1b1b1b;
  --spectrum-global-color-gray-100: #292929;
  --spectrum-global-color-gray-200: #3b3b3b;
  --spectrum-global-color-gray-300: #4f4f4f;
  --spectrum-global-color-gray-400: #6c6c6c;
  --spectrum-global-color-gray-500: #8e8e8e;
  --spectrum-global-color-gray-600: #b1b1b1;
  --spectrum-global-color-gray-700: #d1d1d1;
  --spectrum-global-color-gray-800: #ebebeb;
  --spectrum-global-color-gray-900: #ffffff;
}

:root {
  --spectrum-alias-background-color-default: var(
    --spectrum-global-color-gray-50
  );
  --spectrum-alias-workflow-icon-size-m: 20px;
  --spectrum-global-animation-duration-50: 80ms;

  --spectrum-button-m-primary-fill-texticon-background-color: var(
    --spectrum-global-color-gray-800
  );
  --spectrum-button-m-primary-fill-texticon-text-color: var(
    --spectrum-global-color-gray-50
  );
  --spectrum-button-m-primary-fill-texticon-icon-color: var(
    --spectrum-global-color-gray-50
  );
  --spectrum-button-m-primary-fill-texticon-background-color-hover: var(
    --spectrum-global-color-gray-900
  );
  --spectrum-button-m-primary-fill-texticon-text-color-hover: var(
    --spectrum-global-color-gray-50
  );
  --spectrum-button-m-primary-fill-texticon-icon-color-hover: var(
    --spectrum-global-color-gray-50
  );
  --spectrum-button-m-primary-fill-texticon-background-color-down: var(
    --spectrum-global-color-gray-900
  );
  --spectrum-button-m-primary-fill-texticon-text-color-down: var(
    --spectrum-global-color-gray-50
  );
  --spectrum-button-m-primary-fill-texticon-icon-color-down: var(
    --spectrum-global-color-gray-50
  );

  --spectrum-button-m-secondary-fill-texticon-background-color: var(
    --spectrum-global-color-gray-200
  );
  --spectrum-button-m-secondary-fill-texticon-text-color: var(
    --spectrum-global-color-gray-700
  );
  --spectrum-button-m-secondary-fill-texticon-icon-color: var(
    --spectrum-global-color-gray-700
  );
  --spectrum-button-m-secondary-fill-texticon-background-color-hover: var(
    --spectrum-global-color-gray-300
  );
  --spectrum-button-m-secondary-fill-texticon-text-color-hover: var(
    --spectrum-global-color-gray-800
  );
  --spectrum-button-m-secondary-fill-texticon-icon-color-hover: var(
    --spectrum-global-color-gray-800
  );
  --spectrum-button-m-secondary-fill-texticon-background-color-down: var(
    --spectrum-global-color-gray-300
  );
  --spectrum-button-m-secondary-fill-texticon-text-color-down: var(
    --spectrum-global-color-gray-800
  );
  --spectrum-button-m-secondary-fill-texticon-icon-color-down: var(
    --spectrum-global-color-gray-800
  );

  --spectrum-button-m-primary-outline-texticon-background-color: var(
    --spectrum-alias-background-color-transparent
  );
  --spectrum-button-m-primary-outline-texticon-border-color: var(
    --spectrum-global-color-gray-800
  );
  --spectrum-button-m-primary-outline-texticon-text-color: var(
    --spectrum-global-color-gray-800
  );
  --spectrum-button-m-primary-outline-texticon-icon-color: var(
    --spectrum-global-color-gray-800
  );
  --spectrum-button-m-primary-outline-texticon-background-color-hover: var(
    --spectrum-global-color-gray-200
  );
  --spectrum-button-m-primary-outline-texticon-border-color-hover: var(
    --spectrum-global-color-gray-900
  );
  --spectrum-button-m-primary-outline-texticon-text-color-hover: var(
    --spectrum-global-color-gray-900
  );
  --spectrum-button-m-primary-outline-texticon-icon-color-hover: var(
    --spectrum-global-color-gray-900
  );
  --spectrum-button-m-primary-outline-texticon-background-color-down: var(
    --spectrum-global-color-gray-200
  );
  --spectrum-button-m-primary-outline-texticon-border-color-down: var(
    --spectrum-global-color-gray-900
  );
  --spectrum-button-m-primary-outline-texticon-text-color-down: var(
    --spectrum-global-color-gray-900
  );
  --spectrum-button-m-primary-outline-texticon-icon-color-down: var(
    --spectrum-global-color-gray-900
  );

  --spectrum-button-m-secondary-outline-texticon-background-color: var(
    --spectrum-alias-background-color-transparent
  );
  --spectrum-button-m-secondary-outline-texticon-border-color: var(
    --spectrum-global-color-gray-200
  );
  --spectrum-button-m-secondary-outline-texticon-text-color: var(
    --spectrum-global-color-gray-700
  );
  --spectrum-button-m-secondary-outline-texticon-icon-color: var(
    --spectrum-global-color-gray-700
  );
  --spectrum-button-m-secondary-outline-texticon-background-color-hover: var(
    --spectrum-global-color-gray-200
  );
  --spectrum-button-m-secondary-outline-texticon-border-color-hover: var(
    --spectrum-global-color-gray-300
  );
  --spectrum-button-m-secondary-outline-texticon-text-color-hover: var(
    --spectrum-global-color-gray-800
  );
  --spectrum-button-m-secondary-outline-texticon-icon-color-hover: var(
    --spectrum-global-color-gray-800
  );
  --spectrum-button-m-secondary-outline-texticon-background-color-down: var(
    --spectrum-global-color-gray-200
  );
  --spectrum-button-m-secondary-outline-texticon-border-color-down: var(
    --spectrum-global-color-gray-300
  );
  --spectrum-button-m-secondary-outline-texticon-text-color-down: var(
    --spectrum-global-color-gray-800
  );
  --spectrum-button-m-secondary-outline-texticon-icon-color-down: var(
    --spectrum-global-color-gray-800
  );
}
:root {
  --spectrum-button-active-animation-ease: var(
    --spectrum-global-animation-ease-out
  );
  --spectrum-button-active-animation-duration: 80ms;
  --spectrum-button-active-scale-multiplier: 0.95;
}
[dir="ltr"] .spectrum-Button {
  transition: background var(--spectrum-global-animation-duration-100, 130ms)
      ease-out,
    border-color var(--spectrum-global-animation-duration-100, 130ms) ease-out,
    color var(--spectrum-global-animation-duration-100, 130ms) ease-out,
    box-shadow var(--spectrum-global-animation-duration-100, 130ms) ease-out,
    transform var(--spectrum-button-active-animation-duration)
      var(--spectrum-button-active-animation-ease);
}
.spectrum-Button:active {
  transform: scale(var(--spectrum-button-active-scale-multiplier));
}
